<button mat-button color="accent" (click)="shuffle()">Shuffle</button>
<br/>

<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1"
  min="1"
  max="5"
  [(value)]="columns">
</mat-slider>

<div
  class="example-container"
  cdkDropListGroup
  [style.width]="columns * 220 + 'px'">
  <div
    cdkDropList
    [cdkDropListEnterPredicate]="dropListEnterPredicate"
    (cdkDropListDropped)="dropListDropped($event)">
  </div>
  <div
    cdkDropList
    [cdkDropListEnterPredicate]="dropListEnterPredicate"
    *ngFor="let item of movies"
    (cdkDropListDropped)="dropListDropped($event)">
    <div
      cdkDrag
      class="example-box"
      [style.backgroundImage]="'url(' + item.poster + ')'"
      (cdkDragMoved)="dragMoved($event);">
      {{item.title}}
    </div>
  </div>
</div>
